<%- include('../../partials/head.ejs') %>

<div class="container my-container my-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-body">
                <h4>Create a New Account</h4>
                <br>
                <form action="/auth/signup" method="POST">
                    <div class="form-group">
                        <label for="username">Enter your username (Must be unique)</label>
                        <input type="text" name="username" id="username"
                            value="<%= value.username ? value.username : '' %>"
                            class="form-control <%= error.username ? 'is-invalid': '' %> ">
                        <div class="invalid-feedback">
                            <%= error.username && error.username %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Enter your valid email</label>
                        <input type="email" name="email" id="email" value="<%= value.email ? value.email : '' %>"
                            class="form-control <%= error.email ? 'is-invalid': '' %>">
                        <div class="invalid-feedback">
                            <%= error.email && error.email %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Enter your password</label>
                        <input type="password" name="password" id="password"
                            value="<%= value.password ? value.password : '' %>"
                            class="form-control <%= error.password ? 'is-invalid': '' %>">
                        <div class="invalid-feedback">
                            <%= error.password && error.password %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmpassword">Confirm your password</label>
                        <input type="password" name="confirmpassword" id="confirmpassword"
                            value="<%= value.confirmpassword ? value.confirmpassword : '' %>"
                            class="form-control <%= error.confirmpassword ? 'is-invalid': '' %>">
                        <div class="invalid-feedback">
                            <%= error.confirmpassword && error.confirmpassword %>
                        </div>
                    </div>
                    <input type="submit" value="Sign Up" class="btn btn-primary">
                </form>
                <br>
                <a href="/auth/login">Already have an Account? Log In</a>
            </div>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs') %>

</body>

</html>